.ProgressBar {
  width: 100%;
  border: 1px solid gray;
  padding: 2px;
}

.ProgressBar .Progress {
  background-color: khaki;
  color: dimgray;
  white-space: pre;
}

button.card {
  display: block;
  padding: 0;
  text-align: left;
}
